.spacing {
  margin: 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav {
  border: 3px solid black;
  margin-top: 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-tabs .nav-link:hover {
  color: #003951;
}
li.nav-item {
  width: 25%;
}
.nav-link {
  color: black;
  width: 100%;
}

.nav-tabs .nav-link.active {
  background-color: black;
  color: white;
}

.tab-content {
  width: 100%;
}
