/* ========= Reusable css =========== */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
}

/* ========= Sidebar =========== */

.sidebar header {
  position: relative;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 290px;
  padding: 10px 14px;
  background-color: #02627a;
  transition: 0.2s linear;
}

.image {
  display: flex;
  justify-content: center;
}

.sidebar .image-text img {
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  background-color: #02627a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid white;
}

.sidebar li {
  height: 40px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  font-size: 20px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .nav-link {
  color: black;
  background-color: #d6f2ff;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.sidebar li .icon,
.sidebar li .text {
  color: inherit;
}

.sidebar .nav-link:hover {
  background-color: #fff;
  color: black;
}

.category {
  color: #d6f2ff;
  width: 100%;
  text-align: end;
}

.sidebar ul {
  padding: 0;
}

.menu-links {
  border-top: 1px solid #d6f2ff;
}

.text {
  transition-delay: 2s;
  transition: 2s linear;
}
